.user-list-div {
    /*   border: 1px solid red;  */
       height: auto;
       max-width: 100%;
       overflow: auto;
   }
   
   .user-list-nav {
       background-color: rgb(126, 243, 233);
       height: auto;
       max-width: 100%;
       overflow: auto;
   }
   
   .go-back-div {
       height: 70px;
   /*    background-color: red;  */
       width: 20%;
       float: left;
   }
   
   .user-list-title {
       height: 70px;
   /*    background-color: yellow;  */
       width: 80%;
       float: left;
   }
   
   .btn-go-back {
       padding: 10px;
       margin: 12px;
       background-color: rgb(255, 255, 255);
       border: none;
       border-radius: 4px;
       color:rgb(0, 0, 0);
   }
   
   .btn-go-back:hover {
       background-color: rgb(179, 179, 179);
       color: rgb(255, 255, 255);
       cursor: pointer;
   }
   
   .btn-create {
       padding: 9px;
       margin: 17px 0px;
       margin-left: 28%;
       width: 40%;
       border: none;
       border-radius: 4px;
       background-color: rgb(16, 187, 255);
       color: white;
   }
   
   .btn-create:hover {
       background-color: white;
       color: black;
       cursor: pointer;
   }
   
   /** The Form **/
   
   .form-div {
   /*    background-color: greenyellow;  */
       height: 550px;
       width: 25%;
       overflow: auto;
       float: left;
       border: 1px solid green;
   }
   
   .registration-div {
       background-color: indigo;
       height: auto;
       width: 100%;
       overflow: hidden;
   }
   
   input[type=text] {
       margin-top: 24px;
       margin-left: 14%;
       width: 70%;
       border: none;
       border-radius: 5px;
       font-size: 18px;
       outline-color: rgb(78, 14, 253);
       padding: 12px;
       padding-left: 15px;
   }
   
   input[type=password] {
       margin-top: 20px;
       margin-left: 14%;
       width: 70%;
       border: none;
       border-radius: 5px;
       font-size: 18px;
       outline-color: rgb(78, 14, 253);
       padding: 12px;
       padding-left: 15px;
   }
   
   .all-user-list-div {
       border: 1px solid red;
       height: 500px;
       width: 60%;
       float: left;
   }
   
   td {
       padding: 20px;
       font-family: sans-serif;
   }